<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
	{{ partial "head.html" . }}
	{{ template "_internal/google_analytics.html" . }}
	</head>
	<body id = "cart-page">
		<div class="container">	
				{{ partial "header.html" . }}
			
            <table>
                <caption>Your Shopping Cart</caption>
                    <!-- here goes our data! -->
             </table>
                 
            <script > 
            let mountains = JSON.parse(window.localStorage.getItem('cart'));
                 
                 function generateTableHead(table, data) {
                   let thead = table.createTHead();
                   let row = thead.insertRow();
                   for (let key of data) {
                     let th = document.createElement("th");
                     let text = document.createTextNode(key);
                     th.appendChild(text);
                     row.appendChild(th);
                   }
                 }
                 function generateTable(table, data) {
                   for (let element of data) {
                     let row = table.insertRow();
                     for (key in element) {
                       let cell = row.insertCell();
                       let text = document.createTextNode(element[key]);
                       cell.appendChild(text);
                     }
                   }
                 }
                 function totalPrice (table, data){
                     let price = 0;
                     
                     for (let element of data){
                       
                        
                         for(key in element){
                            
                             if(key === "price"){
                                 price = price + element[key];
                                 

                             }
                         }
                     }
                   
                            let row = table.insertRow();
                            let cell1 = row.insertCell(0);
                            cell1.innerHTML= "Total Price";
                            cell1.colSpan = 3;
                            let cell2 = row.insertCell(1);
                            cell2.innerHTML= price;
                            

                     

                     return price;
                     
                 }
                 
                 let table = document.querySelector("table");
                 let data = Object.keys(mountains[0]);
                 generateTableHead(table, data);
                 generateTable(table, mountains);
                 if(data.length > 0){
                     totalPrice(table, mountains)
                }
            
            </script>      
		</div>			
			 
        {{ partial "footer.html" . }}

		{{ partial "scripts.html" . }}

	</body>
</html>
