<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
	{{ partial "head.html" . }}
	{{ template "_internal/google_analytics.html" . }}
	</head>
	<body id = "cart-page">
		<div class="container">	
				{{ partial "header.html" . }}
			
            <table>
                <caption>Your Shopping Cart</caption>
                    <!-- here goes our data! -->
             </table>
                 
            <script > 
            let mountains = JSON.parse(window.localStorage.getItem('cart'));
                 
                 function generateTableHead(table, data) {
                   let thead = table.createTHead();
                   let row = thead.insertRow();
                   for (let key of data) {
                     let th = document.createElement("th");
                     let text = document.createTextNode(key.toUpperCase());
                     th.appendChild(text);
                     row.appendChild(th);
                   }
                 }
                 function generateTable(table, data) {
                   for (let element of data) {
                     let row = table.insertRow();
                     for (key in element) {
                       let cell = row.insertCell();
                       let text = document.createTextNode(element[key]);
                       cell.appendChild(text);
                     }
                   }
                 }
                 function totalPrice (table, data){
                     let price = 0;  
                     for (let element of data){                   
                         for(key in element){                            
                             if(key === "price"){
                                 price = price + element[key];                                
                             }
                         }
                     }
                            let row = table.insertRow();
                            let cell1 = row.insertCell(0);
                            cell1.innerHTML= "Total Price";
                            cell1.colSpan = 3;
                            let cell2 = row.insertCell(1);
                            cell2.innerHTML= price;  
                     return price;
                     
                 }
                 function updateTable(table){
                    
                            let tableRows = table.getElementsByTagName('tr');
                            let rowCount = tableRows.length;
                            tableRows[0].deleteCell(-1);

                            for (let x =1; x< rowCount; x++) {
                            
                            let name = tableRows[x].cells[1].innerHTML;
                            tableRows[x].cells[1].innerHTML = "";
                            let url = tableRows[x].cells[3].innerHTML;
                            let a = document.createElement('a');
                            let linkText = document.createTextNode(name);
                            a.appendChild(linkText);
                            a.href = url;
                            a.style.color = "blue";
                            tableRows[x].cells[1].appendChild(a);
                            
                            tableRows[x].deleteCell(-1);
                            }
                     }
                 
                 let table = document.querySelector("table");
                 let data = Object.keys(mountains[0]);
                 generateTableHead(table, data);
                 generateTable(table, mountains);
                updateTable(table);
                 if(data.length > 0){
                     totalPrice(table, mountains)
                }
            
            </script>      
		</div>			
			 
        {{ partial "footer.html" . }}

		{{ partial "scripts.html" . }}

	</body>
</html>
