<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
	{{ partial "head.html" . }}
	{{ template "_internal/google_analytics.html" . }}
	</head>
	<body id = "cart-page">
		<div class="container">	

				{{ partial "header.html" . }}

				
          
                {{ if  eq .Title  "Cart"}}
					{{ partial "cart.html" . }}
				{{else if eq .Title "Checkout"}}
					{{partial "checkout.html" . }}

				{{else }}

                {{ end }} 
		</div>			
			 
        {{ partial "footer.html" . }}

		{{ partial "scripts.html" . }}

	</body>
</html>
