<header class="">
     <a href="/">     
		<h1  id = "store-title" class = "animated rollIn"> {{ .Site.Title }} </h1>
	</a>  
	<div id= "cart" class = "item" style="margin-left : 100px;"><a href="/cart"> Shopping Cart</a> <i class="fas fa-shopping-cart"></i></div>
	<div id = "order-q" style = "cursor: pointer"></div>
	{{ partial "auth.html" . }}
	

</header>

<script>

	let orderq = JSON.parse(window.localStorage.getItem('cart')).length;

	if(orderq){
		document.getElementById('order-q').innerHTML = "(" + orderq + ")";

	}
</script>