<div id = "dynamic">
    <h3>Price: {- getPrice -}</h3>
    <p> SKU: {- getSKU("{{ $.Params.sku  }}") -}</p>
    <p>Stock Quantity: {- getStock -}</p>
                    
    <button id = "add-cart" @click = "addToCart">Add to Cart</button>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src = '/js/details.js'></script>		
    
    
<style>
    #dynamic{
        margin-top: 30px;
    }
     #dynamic button{
         border-radius: 20px;
         margin-top: 30px; 
     }
    
    #dynamic button::-moz-focus-inner {
  border: 0;
}
 </style>	
    