<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
      
       
        <div id = "container">
            {{ partial "header.html" . }}

            <h1 id = "prod-title" class = "animated swing" style="text-align: center; color: #333">Products</h1>

            <div class="main">
				<ul id="og-grid" class="og-grid">
					{{ range $.Site.Data.items.items }}
					<li>
						<a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}">
                            <img src="{{.thumb}}"  alt="{{.alt}}"/>
                            <button id = "buy-now" >Buy Now</button>

						</a>
					</li>
					{{ end }}
				</ul>
			</div>
         
        </div>

     {{ partial "footer.html" . }}
     {{ partial "scripts.html" . }}
    </body>
</html>